<br>

<div class="jumbotron">
  <h1>postyboard</h1>
  <p>postyboard is a resource for sharing links, distributing news, disseminating info!</p>

    <% if current_user %>
      it's good to see you <%= link_to (current_user.name || current_user.email), current_user %>!
    <% else %>
    <p>
      <%= link_to "sign in", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "sign up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
    <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>propaganda</h2>
    <p>postyboard will deliver your hand-crafted manifesto to the masses.</p>
  </div>
  <div class="col-md-4">
    <h2>ranking</h2>
    <p>readers can power their favorite topics to the top of the rankings list.</p>
  </div>
  <div class="col-md-4">
    <h2>commentary</h2>
    <p>postyboard is built on free-form collaborative post and response.</p>
  </div>
</div>
