h1 {
  color: red;
}



.social-btn {
  position: absolute;
  width: 100px;
  border: 10px solid #b7d84b;
  padding: 5px;
  margin: 0px;
  font: 12px arial, sans-serif;
  text-align: center;
  color: DimGray;
  }
